<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62486703536-1l35vct84ldosa407gd15sassd3cllb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62486703536-1l35vct84ldosa407gd15sassd3cllb7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>62486703536-jevho4lhponbkp0d0fssq2vfrfmuv4tu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5Oex9T_WaV71VOxeVvYRnCquvgWDMWW4</string>
	<key>GCM_SENDER_ID</key>
	<string>62486703536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harkat.driver</string>
	<key>PROJECT_ID</key>
	<string>harkat-322a5</string>
	<key>STORAGE_BUCKET</key>
	<string>harkat-322a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62486703536:ios:934ba4c1ee47ea9be1ba75</string>
	<key>DATABASE_URL</key>
	<string>https://harkat-322a5.firebaseio.com</string>
</dict>
</plist>